.footer{
    background-color:#01d566;
  }
.footer-first{
    margin:0 6rem;
    display:flex;
    color:white;
    padding-top:1rem;
}
.footer-input{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-left:30rem;
    position:relative;
    margin-top:-5rem;
}
.footer-input input{
    padding:18px 20px;
    width:500px;
    border-radius:10px;
    border:none;
    box-shadow: 4px 4px gray;;
}
.subscribe-btn{
    position:absolute;
    left:80%;
    top:43%;
    background-color:rgb(153, 35, 153);
    padding:10px;
    color:white;
    border:none;
    border-radius:5px;
}
.social-media{
    list-style-type: none;
    display:flex;
    border-top:1px solid black;
    border-bottom:1px solid black;
    justify-content: space-evenly;
}
.social-media li{
    padding:10px;
    border-right:1px solid black;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.categories{
    display:flex;
    justify-content: space-evenly;
    margin-top:3rem;
    border-bottom:1px solid black;
    padding-bottom:2rem;
}
.categories li{
    list-style: none;
}
.copyright-text{
    margin-bottom:0;
    padding:0.5rem 0 1rem 5rem;
}